[package]
name = "gtest-runner"
categories = ["command-line-utilities"]
description = "Run gtest executables in parallel"
homepage = "https://github.com/bbannier/gtest-runner"
license = "MIT"
version = "0.0.17"
readme = "README.md"
authors = ["Benjamin Bannier <bbannier@gmail.com>"]
edition = "2018"
autotests = false

[[bin]]
name = "gtest-runner"
path = "src/main.rs"

[dependencies]
console = "0.9"
indicatif = "0.12"
num_cpus = "1.9"
regex = "1.1"
rs_tracing = { version = "1.0", features = ["rs_tracing"] }
crossbeam = "0.7"
structopt = "0.3"
scopeguard = "1.0"

[build-dependencies]
structopt = "0.3"

[dev-dependencies]
itertools = "0.8"
